/* @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto"); */
html,
body,
* {
	box-sizing: border-box;
	font-size: 16px;
}
html,
body {
	padding: 2rem;
	background: #f8f8f8;
	/* width: 100%; */
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.topnav {
	/* overflow: hidden; */
	background-color: #26cfdb;
	display: flex;
	align-items: center;
	/* justify-content: flex-end; */
	/* flex-direction: row-reverse; */
	/* width: 600px; */
	width: 100%;
	max-width: 600px;
	align-self: center;
	justify-content: space-evenly;
	height: 4em;
}

.topnav a {
	float: right;

	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ffbc00;
	color: black;
	border-radius: 5px;
}

.topnav a.active {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	/* width: 900px; */
	/* background-color: #fff; */
	color: white;
	height: 3em;
}

.topnav a.active:hover {
	background-color: #fff;
}

/* #tweet {
	justify-self: stretch;
} */
#imgRBP {
	align-self: center;
	width: 5rem;
}
#RBP {
	justify-self: flex-end;
	/* align-self: flex-end; */
	padding-right: 10em;
}
#RBP img {
	width: 3em;
}

/* body {

} */
h2 {
	font-family: "Roboto", sans-serif;
	font-size: 26px;
	line-height: 1;
	color: #26cfdb;
	margin-bottom: 0;
}
p {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: #5f6982;
}
.uploader {
	display: block;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}
.uploader label {
	float: left;
	clear: both;
	width: 100%;
	padding: 2rem 1.5rem;
	text-align: center;
	background: #fff;
	border-radius: 7px;
	border: 3px solid #eee;
	transition: all 0.2s ease;
	user-select: none;
}
.uploader label:hover {
	border-color: #26cfdb;
}
.uploader label.hover {
	border: 3px solid #26cfdb;
	box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
	transform: scale(0.8);
	opacity: 0.3;
}
.uploader #start {
	float: left;
	clear: both;
	width: 100%;
}
.uploader #start.hidden {
	display: none;
}
.uploader #start i.fa {
	font-size: 50px;
	margin-bottom: 1rem;
	transition: all 0.2s ease-in-out;
}
.uploader #response {
	float: left;
	clear: both;
	width: 100%;
}
.uploader #response.hidden {
	display: none;
}
.uploader #response #messages {
	margin-bottom: 0.5rem;
}
.uploader #file-image {
	display: inline;
	margin: 0 auto 0.5rem auto;
	width: auto;
	height: auto;
	max-width: 180px;
}
.uploader #file-image.hidden {
	display: none;
}
.uploader #notimage {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}
.uploader #notimage.hidden {
	display: none;
}
.uploader progress,
.uploader .progress {
	display: inline;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 180px;
	height: 8px;
	border: 0;
	border-radius: 4px;
	background-color: #eee;
	overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
	border-radius: 4px;
	background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
	background: linear-gradient(to right, #393f90 0%, #26cfdb 50%);
	border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
	background: linear-gradient(to right, #393f90 0%, #26cfdb 50%);
	border-radius: 4px;
}
.uploader input[type="file"] {
	display: none;
}
.uploader div {
	margin: 0 0 0.5rem 0;
	color: #5f6982;
}
.uploader .btn,
#btndownload {
	display: inline-block;
	margin: 0.5rem 0.5rem 1rem 0.5rem;
	clear: both;
	font-family: inherit;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
	text-transform: initial;
	border: none;
	border-radius: 0.2rem;
	outline: none;
	padding: 0 1rem;
	height: 36px;
	line-height: 36px;
	color: #fff;
	transition: all 0.2s ease-in-out;
	box-sizing: border-box;
	background: #26cfdb;
	border-color: #26cfdb;
	cursor: pointer;
}

#container {
	/* width: 200px;
	height: 200px; */
	/* background: green; */
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	/* display: flex;
	flex-direction: column; */
}
#container #ascii.hidden {
	display: none;
}
#container #btndownload.hidden {
	display: none;
}
footer {
	padding: 1rem 0;
	background: #26cfdb;
	text-align: center;
}
#container #FooterContainer.hidden {
	display: none;
}
canvas {
	margin: 2em 0 2em 0;
	border: solid 1px gray;
	width: 50%;
	height: 50%;
	/* margin-bottom: 10px; */
	align-self: center;

	/* display: block; */
}

@media only screen and (max-width: 400px) {
	.topnav {
		width: 150%;
		/* max-width: 600px; */
	}
}
